---
services:
  api_webservice:
    build:
      context: .
      args:
      - user=$ADMIN_USER
      - user_email=$ADMIN_USER_EMAIL
      - user_password=$ADMIN_USER_PASSWORD
    restart: unless-stopped
    ports:
    - '80:8000'
    volumes:
    - "api_webservice_db:/api_webservice/db"
    - ".:/api_webservice"


volumes:
  api_webservice_db:
